.create-task {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #336699;
  background-color: #f9f9f9;
}

.create-task .title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}


.create-task .form-group {
  margin-bottom: 15px;
  padding: 0 20px;
}

.create-task .form-group input,
.create-task .form-group textarea {
  width: 100%;
  padding: 8px;
  margin: 6px auto;
  border: 1px solid #ccc;
  border-radius: 6px;
  
}

.create-task .form-group textarea {
  resize: vertical;
}

.create-task .form-group .error {
  color: red;
  font-size: 0.875em;
  margin-top: 5px;
}

.create-task button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.create-task button:hover {
  background-color: #0056b3;
}

.task-preview {
  margin-top: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.task-preview p {
  margin: 5px 0;
}
