.tasks-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  text-align: center;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-input {
  width: 40%;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.tasks-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  color: #007BFF;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.task-description {
  color: #555;
  margin-bottom: 10px;
}

.task-location,
.task-price,
.task-dueDate {
  color: #888;
  margin-bottom: 5px;
}

.task-tags {
  margin-top: 10px;
}

.task-tag {
  display: inline-block;
  background-color: #FFA500;
  color: #fff;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.9em;
}

.make-offer-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.make-offer-button:hover {
  background-color: #218838;
}
